@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
  --matte-black: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

.game,
.footer {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  color: var(--white);
}

.game,
.footer {
  background: var(--bg-dark);
  -webkit-transition: background 0.5s ease-in-out 0s;
  transition: background 0.5s ease-in-out 0s;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px 0;
}

@media (max-width: 1024px) {
  .container {
    padding: 80px 0 0;
  }
}

.title {
  position: relative;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0em;
  color: var(--gold);
  max-width: 700px;
  width: 100%;
  height: 80px;
  margin: 0 auto 60px;
}

.title h2 {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background: var(--bg-dark);
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--gold);
  z-index: 0;
}

@media (max-width: 1024px) {
  .title {
    padding-top: 20px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 364px;
    margin: 0 auto 46px;
  }
  .title::before {
    top: 40px;
  }
}

button,
a,
svg,
p,
h1,
h2,
span {
  -webkit-transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

#transition-none * {
  -webkit-transition: none !important;
  transition: none !important;
}

.game__container {
  padding: 0 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  aspect-ratio: 1 / 1.1;
  background: white;
}

.game__header {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game__core {
  position: absolute;
  bottom: 0;
  background: #e6a80e;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 4px;
}

.game__game {
  position: relative;
  background: rgba(128, 128, 128, 0.5);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.game__box-wallpaper {
  width: 100%;
  height: 100%;
  background: rgba(98, 98, 98, 0.5);
  border: 1px solid rgba(228, 155, 15, 0.5);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.game__box {
  position: absolute;
  top: 25%;
  left: 0;
  width: 25%;
  height: 25%;
  border: 1px solid rgba(228, 155, 15, 0.5);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 300%;
  -webkit-transition: top 0.1s ease-in-out 0s, left 0.1s ease-in-out 0s;
  transition: top 0.1s ease-in-out 0s, left 0.1s ease-in-out 0s;
}

.game__box_red2 {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(237, 27, 36, 0.8);
}

@media (max-width: 1024px) {
  .game__body {
    height: auto;
    width: 100%;
    max-width: 90vh;
    aspect-ratio: 1 / 1.2;
  }
  .game__box {
    font-size: 175%;
  }
}

.footer__container {
  padding-top: 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__year a:hover {
  color: var(--gold);
}

.footer__company a:hover {
  color: var(--gold);
}

@media (max-width: 1024px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__year {
    padding-top: 20px;
  }
  .footer__company {
    padding-bottom: 20px;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
