@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-dark: #000;
  --gold: #bdae82;
  --white: #fff;
  --matte-black: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

.game,
.score-table,
.footer {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  color: var(--white);
}

.game,
.score-table {
  background: #140027;
}

.footer {
  background: #0c0018;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 20px 0;
}

@media (max-width: 1024px) {
  .container {
    padding: 80px 0 0;
  }
}

.title {
  position: relative;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0em;
  color: var(--gold);
  max-width: 700px;
  width: 100%;
  height: 80px;
  margin: 0 auto 60px;
}

.title h2 {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  background: var(--bg-dark);
  z-index: 1;
}

.title::before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--gold);
  z-index: 0;
}

@media (max-width: 1024px) {
  .title {
    padding-top: 20px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 364px;
    margin: 0 auto 46px;
  }
  .title::before {
    top: 40px;
  }
}

button,
a,
svg,
p,
h1,
h2,
span {
  -webkit-transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s;
  transition: color 0.5s ease-in-out 0s, background 0.5s ease-in-out 0s, fill 0.5s ease-in-out 0s, transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

#transition-none * {
  -webkit-transition: none !important;
  transition: none !important;
}

.game__container {
  position: relative;
  padding: 0 20px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.game__body {
  position: relative;
  height: 80%;
  margin: 0 auto;
  aspect-ratio: 1 / 1.15;
  background: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  overflow: hidden;
}

.game__header {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.game__title {
  font-size: 28px;
}

.game__score {
  font-size: 28px;
}

.game__core {
  position: absolute;
  bottom: 0;
  background: #e6a80e;
  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 4px;
}

.game__game {
  position: relative;
  background: rgba(128, 128, 128, 0.5);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.game__box-wallpaper {
  width: 100%;
  height: 100%;
  background: rgba(133, 113, 69, 0.5);
  border: 2px solid #b39447;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.game__game-over, .game__game-win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(229, 196, 133, 0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  z-index: 6;
  padding-bottom: 16%;
}

.game_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game__game-over-title, .game__game-win-title {
  font-size: 36px;
  color: #171727;
  font-weight: bold;
  padding-bottom: 3%;
}

.game__game-win-subtitle, .game__game-over-subtitle {
  font-size: 24px;
}

.game__try-again, .game__new-game, .game__resume-game {
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2%;
}

.game__box {
  position: absolute;
  top: 25%;
  left: 0;
  width: 25%;
  height: 25%;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 2px solid #b39447;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 300%;
  -webkit-transition: top 0.15s ease-in-out 0s, left 0.15s ease-in-out 0s;
  transition: top 0.15s ease-in-out 0s, left 0.15s ease-in-out 0s;
  cursor: pointer;
  color: white;
  background: #ed1b24;
  z-index: 5;
}

@media (max-width: 1024px) {
  .game__body {
    height: auto;
    width: 100%;
    max-width: 90vh;
  }
  .game__box {
    font-size: 175%;
  }
}

.animate-showbox {
  -webkit-animation: showbox 0.15s linear 1 0.1s;
          animation: showbox 0.15s linear 1 0.1s;
}

.animate-stackbox {
  -webkit-animation: stackbox 0.15s linear 1 0.1s;
          animation: stackbox 0.15s linear 1 0.1s;
}

.animate-hidebox {
  -webkit-animation: hidebox 0.1s linear 1 0.125s;
          animation: hidebox 0.1s linear 1 0.125s;
  z-index: 3;
}

@-webkit-keyframes showbox {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showbox {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes stackbox {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes stackbox {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hidebox {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hidebox {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.box-color2 {
  background: #ea0023;
}

.box-color4 {
  background: #f35412;
}

.box-color8 {
  background: #ffa600;
}

.box-color16 {
  background: #fcce00;
}

.box-color32 {
  background: #c2c200;
}

.box-color64 {
  background: #7ec711;
}

.box-color128 {
  background: #1ab81a;
}

.box-color256 {
  background: #0e6880;
}

.box-color512 {
  background: #0033be;
}

.box-color1024 {
  background: #5516d7;
}

.box-color2048 {
  background: #ab1dcb;
}

.box-color4096 {
  background: #ca0f76;
}

.box-color8192 {
  background: #9f2b42;
}

.box-color16384 {
  background: #5f6738;
}

.box-color32768 {
  background: #224058;
}

.box-color65536 {
  background: #252525;
}

.score-table {
  position: absolute;
  z-index: 7;
  width: 100%;
  background: none;
  height: 10px;
}

.score-table__container {
  max-width: 100%;
  padding: 0;
}

.score-table__body {
  padding: 0 20px;
  background: #05001f81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

.score-table__body_show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.score-table__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #05001fcb;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .score-table__container {
    height: auto;
    width: 100%;
    max-width: 90vh;
  }
}

.footer__container {
  padding-top: 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__year a:hover {
  color: var(--gold);
}

.footer__company a:hover {
  color: var(--gold);
}

@media (max-width: 1024px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__year {
    padding-top: 20px;
  }
  .footer__company {
    padding-bottom: 20px;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
